Linear regression of Temp w.r.t Ozone, Solar. R and Wind

In [1]:
import pandas as pd
df = pd.read_csv('data/airquality.csv')
df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

In [2]:
df.isna().sum()

Ozone      37
Solar.R     7
Wind        0
Temp        0
Month       0
Day         0
dtype: int64

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    116 non-null    float64
 1   Solar.R  146 non-null    float64
 2   Wind     153 non-null    float64
 3   Temp     153 non-null    int64
 4   Month    153 non-null    int64
 5   Day      153 non-null    int64
dtypes: float64(3), int64(3)
memory usage: 7.3 KB

In [4]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 111 entries, 0 to 152
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    111 non-null    float64
 1   Solar.R  111 non-null    float64
 2   Wind     111 non-null    float64
 3   Temp     111 non-null    int64
 4   Month    111 non-null    int64
 5   Day      111 non-null    int64
dtypes: float64(3), int64(3)
memory usage: 6.1 KB

In [8]:
data_input = df[['Ozone', 'Solar.R', 'Wind']]
data_target = df['Temp']

from sklearn.model_selection import train_test_split
train_input, test_input, train_target, test_target = train_test_split(data_input, data_target, random_state=42)

from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()
rf.fit(train_input, train_target)
print(rf.score(train_input, train_target))
print(rf.score(test_input, test_target))

0.930836467182899
0.7355713874131973

In [14]:
# get coefficients
rf.feature_importances_

array([0.71636976, 0.14046393, 0.14316632])

In [15]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(train_input, train_target)
print(lr.score(train_input, train_target))
print(lr.score(test_input, test_target))

0.543783846859172
0.3965621386296555

In [16]:
lr.coef_

array([ 0.1895721 ,  0.00413073, -0.31396489])

In [17]:
# Q1 an estimated coefficient for Ozone
rf.feature_importances_[0]

0.7163697571244806

In [18]:
# Q2 with Solar.R and Ozone fixed, check if Temp is anti-proportional to Wind
# print the p-value of the Wind's coeff.
data_input = sm.add_constant(data_input)
data_input

     const  Ozone  Solar.R  Wind
0      1.0   41.0    190.0   7.4
1      1.0   36.0    118.0   8.0
2      1.0   12.0    149.0  12.6
3      1.0   18.0    313.0  11.5
6      1.0   23.0    299.0   8.6
..     ...    ...      ...   ...
147    1.0   14.0     20.0  16.6
148    1.0   30.0    193.0   6.9
150    1.0   14.0    191.0  14.3
151    1.0   18.0    131.0   8.0
152    1.0   20.0    223.0  11.5

[111 rows x 4 columns]

In [19]:
model = sm.OLS(data_target, data_input).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Temp   R-squared:                       0.500
Model:                            OLS   Adj. R-squared:                  0.486
Method:                 Least Squares   F-statistic:                     35.65
Date:                Mon, 25 Nov 2024   Prob (F-statistic):           4.73e-16
Time:                        23:26:43   Log-Likelihood:                -368.79
No. Observations:                 111   AIC:                             745.6
Df Residuals:                     107   BIC:                             756.4
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         72.4186      3.216     22.522      0.000      66.044      78.793
Ozone          0.1720      0.026      6.516      0.000       0.120       0.224
Solar.R        0.0073      0.008      0.948      0.345      -0.008       0.022
Wind          -0.3229      0.233     -1.384      0.169      -0.785       0.139
==============================================================================
Omnibus:                        6.409   Durbin-Watson:                   1.170
Prob(Omnibus):                  0.041   Jarque-Bera (JB):                6.615
Skew:                          -0.591   Prob(JB):                       0.0366
Kurtosis:                       2.817   Cond. No.                     1.05e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.05e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [20]:
model.pvalues['Wind']

0.16909868598497838

In [32]:
# Q3. prediction of Temp when Ozone=10, Solar.R=10, and Wind=20.
import numpy as np
given = pd.DataFrame({'Ozone':[10], 'Solar.R':[10], 'Wind':[20]})
np.round(rf.predict(given)[0], 3)

65.63